@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background: #41BBD9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-container {
    height: 100%;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 48px;
}

main {
    width: 420px;
    height: 420px;
    max-width: 80vw;
    max-height: 80vw;
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board .square {
    border: 4px solid #006E90;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #FFF;
    font-size: 78px;
    font-weight: bold;
    line-height: 0;
}

.board .square.X {
    color: #006E90;
}

.board .square:hover {
    background: #6bcae2;
}

footer {
    width: 100%;
    position: relative;
    gap: 32px;
}

footer .difficulty,
footer .player-indicator {
    width: 140px;
    height: 48px;
    padding: 0 32px;
    background: #63CEE8;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #FEFBFB;
    text-align: center;
    outline: none;
}

footer .difficulty {
    text-align: left;
    padding: 0 12px;
}

footer .ranking {
    position: absolute;
    right: 0;
}

footer .ranking a::before {
    content: 'Ranking';
    font-weight: 600;
    font-size: 18px;
    padding-right: 8px;
}

footer .ranking a {
    text-decoration: none;
    color: #FEFBFB;
}

footer .ranking a img {
    height: 24px;
}

main,
footer,
select,
.square,
.player-indicator,
.ranking a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#a1,
#a2,
#a3 {
    border-top: none;
}

#a3,
#b3,
#c3 {
    border-right: none;
}

#a1,
#b1,
#c1 {
    border-left: none;
}

#c1,
#c2,
#c3 {
    border-bottom: none;
}

#win-modal .modal {
    width: 380px;
    gap: 24px;
    background: #FEFBFB;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    position: absolute;
}

#win-modal h2,
#ranking-modal h2 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #333333;
}

#win-modal p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #737380;
}

#win-modal .button-group {
    gap: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#win-modal button {
    padding: 13px 0;
    background: #DBDCDD;
    border-radius: 8px;
    margin: 0px 8px;
    outline: none;
    border: none;
    flex: 1;
    cursor: pointer;
}

#win-modal .btn-play {
    background: #63CEE8;
    color: #FEFEFE;
}

#win-modal,
#ranking-modal {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: #000A;
}

#ranking-modal .modal {
    width: 380px;
    gap: 24px;
    background: #FEFBFB;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    position: absolute;
}

#ranking-modal table {
    border: 1px solid #C4C4C4;
    border-spacing: 0;
    width: 100%;
    border-radius: 8px;
}

#ranking-modal table tr {
    border: 1px solid #C4C4C4;
    display: flex;
    padding: 0 16px;
    height: 50px;
}

#ranking-modal table tr * {
    display: flex;
    align-items: center;
}

#ranking-modal table tr:first-child {
    height: 36px;
    border-radius: 6px 6px 0 0;
}

#ranking-modal table tr:last-child {
    height: 36px;
    border-radius: 0 0 6px 6px;
}

#ranking-modal table tr:first-child th:first-child {
    width: 46px;
}

#ranking-modal table tr td {
    flex: 8;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}

#ranking-modal table tr td:first-child {
    font-weight: 300;
    font-size: 14px;
    color: #C4C4C4;
}

#ranking-modal table tr th {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}

#ranking-modal table tr td:first-child,
#ranking-modal table tr td:last-child {
    max-width: 50px;
}


#ranking-modal table tr th:nth-child(2),
#ranking-modal table tr th:last-child  {
    flex: 1;
}

#ranking-modal table tr td:last-child,
#ranking-modal table tr th:last-child {
    justify-content: flex-end;
}

#ranking-modal table tr td:first-child,
#ranking-modal table tr th:nth-child(2) {
    justify-content: flex-start;
}

@media (max-width: 768px) {
    body {
        padding: 36px;
    }

    footer .ranking a::before {
        content: '';
    }

    header h1 {
        font-size: 32px;
    }
}

@media (max-width: 574px) {
    footer {
        gap: 16px;
    }

    footer .ranking a {
        display: none;
    }
}