body {
  height: 100vh;
  max-width: 1100px;
  margin: auto;
}

form {
  height: 100%;
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 50px;
}

main {
  display: flex;
  flex-direction: column;
}

p,
label {
  color: white;
}

p {
  margin-bottom: 12px;
}

label {
  position: relative;
  top: 10px;
  left: 15px;
  border: #41bbd9 5px solid;
  border-radius: 10px;
  background: #41bbd9;
  width: 90px;
}

.player1,
.player2 {
  display: flex;
  flex-direction: column;
}

input {
  width: 360px;
  height: 60px;
  padding: 10px;
  background: #63cee8;
  border: 3px solid #41bbd9;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: white;
  font-size: 14px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-right: auto;
}

main,
.ranking a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#prosseguir {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 32px 15px;
  color: white;
  border: none;
  background: #006e90;
  border-radius: 8px;
  font: 500;
  font-size: 16px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#prosseguir:hover {
  background: #003c4f;
}

.ranking {
  position: absolute;
  right: 100px;
}

@media (max-width: 420px) {
  .ranking {
    width: 100%;
    height: 35%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
